
@import url("https://use.typekit.net/wxh5ury.css");
@import url("https://use.typekit.net/qgr5ebd.css");
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Raleway:wght@400;700&display=swap');

@font-face {
  font-family: 'Gilroy-Black';
  src: local('Gilroy-Black'), url(./fonts/Gilroy-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy-Bold'), url(./fonts/Gilroy-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: local('Gilroy-ExtraBold'), url(./fonts/Gilroy-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: local('Gilroy-Light'), url(./fonts/Gilroy-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy-Medium'), url(./fonts/Gilroy-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: local('Gilroy-Regular'), url(./fonts/Gilroy-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-Thin';
  src: local('Gilroy-Thin'), url(./fonts/Gilroy-Thin.ttf) format('truetype');
}


html {
  color-scheme: normal !important;
}

body {
  background: none !important;
  margin: 0;
  font-family: 'Gilroy-Regular', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  user-select: none;
  overflow: hidden !important;
}

p {
  margin: 0;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@keyframes progress-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
}

.toast-inform {
  background-color: #2980b9;
}

.toast-success {
  background-color: #27ae60;
}

.toast-error {
  background-color: #c0392b;
}
